name: push-pullreq-issues-activitytype
on: 
    workflow_run: 
        workflows: [first-workflow] # this push-pullreq-issues-activitytypeworkflow only run after thr compltion of first-workflow.
        types: [completed]
    push: #Event 
    pull_request: #Event
        types: [opened, assigned, reopened, synchronize] #Activity Type
    issues: #Event
        types: [opened] #Activity Type
jobs:
    chaeckout-test:
        runs-on: ubuntu-latest
        steps:
            - run: |
                echo $GITHUB_SHA
                echo $GITHUB_REF
            - uses: actions/checkout@v3