name: push-pullreq-issues-activitytype
on: 
    push:
    pull_request:
        types: [opened, assigned, reopened] 
    issues: 
        types: [opened]
jobs:
    chaeckout-test:
        runs-on: ubuntu-latest
        steps:
            - run: |
                echo $GITHUB_SHA
                echo $GITHUB_REF
            - uses: actions/checkout@v3